#main-container {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    color: black;
    padding: 1em;
    background: skyblue;
  }
  .map{
    background: url(bookdeliver._1png);
    background-repeat: no-repeat;
    align-self: auto;
    image-orientation: initial;
    margin-right: -380px;
  }
  